body {
    background-color: #000;
}
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
}
.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) 
  }
  .slideshow li:nth-child(2) { 
    background-image:url(https://images.unsplash.com/photo-1526470303-82c787d88682?ixlib=rb-1.2.1&auto=format&fit=crop&w=845&q=80);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1515706886582-54c73c5eaf41?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1506617420156-8e4536971650?ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1563377225929-7084bcef8e24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    animation-delay: 40s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }